openapi: 3.0.3
info:
  title: Project Argus Border Detection System API
  description: |
    Comprehensive API for Project Argus - a world-class border security detection and monitoring solution.
    
    This API provides endpoints for:
    - Real-time detection and tracking management
    - Alert and incident handling
    - Evidence management and forensics
    - System health monitoring
    - User authentication and authorization
    
    ## Authentication
    All endpoints require JWT authentication with role-based access control.
    
    ## Rate Limiting
    API requests are rate-limited to prevent abuse and ensure system stability.
    
  version: 1.0.0
  contact:
    name: Project Argus Team
    email: support@projectargus.com
  license:
    name: Proprietary
    
servers:
  - url: https://api.projectargus.com/v1
    description: Production server
  - url: https://staging-api.projectargus.com/v1
    description: Staging server
  - url: http://localhost:8000/v1
    description: Development server

security:
  - BearerAuth: []

paths:
  # Authentication endpoints
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User login
      description: Authenticate user and return JWT token
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - username
                - password
              properties:
                username:
                  type: string
                  example: "operator1"
                password:
                  type: string
                  format: password
                  example: "securePassword123"
                mfa_code:
                  type: string
                  description: Multi-factor authentication code
                  example: "123456"
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  refresh_token:
                    type: string
                  expires_in:
                    type: integer
                    example: 3600
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          description: Invalid credentials
        '429':
          description: Too many login attempts

  # Camera endpoints
  /cameras:
    get:
      tags:
        - Cameras
      summary: List all cameras
      description: Retrieve list of all cameras with their status
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, inactive, maintenance]
        - name: location
          in: query
          schema:
            type: string
      responses:
        '200':
          description: List of cameras
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Camera'

  /cameras/{camera_id}/live:
    get:
      tags:
        - Cameras
      summary: Get live camera feed
      description: Stream live video feed from specified camera
      parameters:
        - name: camera_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Live video stream
          content:
            video/mp4:
              schema:
                type: string
                format: binary

  # Detection endpoints
  /detections:
    get:
      tags:
        - Detections
      summary: List detections
      description: Retrieve detection history with filtering options
      parameters:
        - name: camera_id
          in: query
          schema:
            type: string
            format: uuid
        - name: start_time
          in: query
          schema:
            type: string
            format: date-time
        - name: end_time
          in: query
          schema:
            type: string
            format: date-time
        - name: confidence_min
          in: query
          schema:
            type: number
            minimum: 0
            maximum: 1
      responses:
        '200':
          description: List of detections
          content:
            application/json:
              schema:
                type: object
                properties:
                  detections:
                    type: array
                    items:
                      $ref: '#/components/schemas/Detection'
                  total:
                    type: integer
                  page:
                    type: integer
                  per_page:
                    type: integer

  # Alert endpoints
  /alerts:
    get:
      tags:
        - Alerts
      summary: List alerts
      description: Retrieve alerts with filtering and pagination
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [active, acknowledged, resolved]
        - name: severity
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
        - name: camera_id
          in: query
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of alerts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Alert'

  /alerts/{alert_id}/acknowledge:
    post:
      tags:
        - Alerts
      summary: Acknowledge alert
      description: Mark alert as acknowledged by operator
      parameters:
        - name: alert_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notes:
                  type: string
                  description: Optional notes from operator
      responses:
        '200':
          description: Alert acknowledged
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Alert'

  # Incident endpoints
  /incidents:
    get:
      tags:
        - Incidents
      summary: List incidents
      description: Retrieve incidents with filtering options
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [open, in_progress, resolved, closed]
        - name: priority
          in: query
          schema:
            type: string
            enum: [low, medium, high, critical]
      responses:
        '200':
          description: List of incidents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Incident'

    post:
      tags:
        - Incidents
      summary: Create incident
      description: Create new incident from alert
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - alert_id
                - title
              properties:
                alert_id:
                  type: string
                  format: uuid
                title:
                  type: string
                description:
                  type: string
                priority:
                  type: string
                  enum: [low, medium, high, critical]
      responses:
        '201':
          description: Incident created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Incident'

  # Evidence endpoints
  /evidence:
    get:
      tags:
        - Evidence
      summary: List evidence
      description: Retrieve evidence records with filtering
      parameters:
        - name: incident_id
          in: query
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          schema:
            type: string
            enum: [video, image, metadata, report]
      responses:
        '200':
          description: List of evidence
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Evidence'

  /evidence/{evidence_id}/download:
    get:
      tags:
        - Evidence
      summary: Download evidence file
      description: Download evidence file with integrity verification
      parameters:
        - name: evidence_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Evidence file
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary

  # System health endpoints
  /health:
    get:
      tags:
        - System
      summary: System health check
      description: Get overall system health status
      security: []
      responses:
        '200':
          description: System health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatus'

  /health/detailed:
    get:
      tags:
        - System
      summary: Detailed health check
      description: Get detailed health status of all components
      responses:
        '200':
          description: Detailed health status
          content:
            application/json:
              schema:
                type: object
                properties:
                  overall_status:
                    type: string
                    enum: [healthy, degraded, unhealthy]
                  components:
                    type: array
                    items:
                      $ref: '#/components/schemas/ComponentHealth'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        username:
          type: string
        email:
          type: string
          format: email
        role:
          type: string
          enum: [operator, auditor, administrator]
        created_at:
          type: string
          format: date-time
        last_login:
          type: string
          format: date-time

    Camera:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        location:
          $ref: '#/components/schemas/Location'
        type:
          type: string
          enum: [visible, thermal, infrared]
        status:
          type: string
          enum: [active, inactive, maintenance, error]
        resolution:
          type: string
          example: "1920x1080"
        fps:
          type: integer
          example: 30
        virtual_lines:
          type: array
          items:
            $ref: '#/components/schemas/VirtualLine'

    Detection:
      type: object
      properties:
        id:
          type: string
          format: uuid
        camera_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        bbox:
          $ref: '#/components/schemas/BoundingBox'
        confidence:
          type: number
          minimum: 0
          maximum: 1
        track_id:
          type: string
          format: uuid
        features:
          type: string
          description: Base64 encoded feature vector

    Alert:
      type: object
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [crossing, loitering, tamper, system_error]
        severity:
          type: string
          enum: [low, medium, high, critical]
        camera_id:
          type: string
          format: uuid
        detection_id:
          type: string
          format: uuid
        timestamp:
          type: string
          format: date-time
        confidence:
          type: number
          minimum: 0
          maximum: 1
        risk_score:
          type: number
          minimum: 0
          maximum: 1
        acknowledged:
          type: boolean
        acknowledged_by:
          type: string
          format: uuid
        acknowledged_at:
          type: string
          format: date-time
        metadata:
          type: object

    Incident:
      type: object
      properties:
        id:
          type: string
          format: uuid
        alert_id:
          type: string
          format: uuid
        title:
          type: string
        description:
          type: string
        status:
          type: string
          enum: [open, in_progress, resolved, closed]
        priority:
          type: string
          enum: [low, medium, high, critical]
        operator_id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        closed_at:
          type: string
          format: date-time
        evidence_ids:
          type: array
          items:
            type: string
            format: uuid
        notes:
          type: array
          items:
            $ref: '#/components/schemas/Note'

    Evidence:
      type: object
      properties:
        id:
          type: string
          format: uuid
        incident_id:
          type: string
          format: uuid
        type:
          type: string
          enum: [video, image, metadata, report]
        file_path:
          type: string
        hash:
          type: string
          description: SHA-256 hash for integrity verification
        signature:
          type: string
          description: HMAC signature
        metadata:
          type: object
        created_at:
          type: string
          format: date-time

    Location:
      type: object
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        altitude:
          type: number
          format: double

    BoundingBox:
      type: object
      properties:
        x:
          type: integer
        y:
          type: integer
        width:
          type: integer
        height:
          type: integer

    VirtualLine:
      type: object
      properties:
        id:
          type: string
          format: uuid
        camera_id:
          type: string
          format: uuid
        points:
          type: array
          items:
            type: object
            properties:
              x:
                type: integer
              y:
                type: integer
        direction:
          type: string
          enum: [bidirectional, inbound, outbound]
        sensitivity:
          type: number
          minimum: 0
          maximum: 1
        active:
          type: boolean

    Note:
      type: object
      properties:
        id:
          type: string
          format: uuid
        author_id:
          type: string
          format: uuid
        content:
          type: string
        created_at:
          type: string
          format: date-time

    HealthStatus:
      type: object
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        timestamp:
          type: string
          format: date-time
        version:
          type: string

    ComponentHealth:
      type: object
      properties:
        name:
          type: string
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        message:
          type: string
        last_check:
          type: string
          format: date-time

    Error:
      type: object
      properties:
        error:
          type: string
        message:
          type: string
        code:
          type: integer
        timestamp:
          type: string
          format: date-time